<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'/>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>
    <meta name='robots' content='index, follow'/>

    <link rel='shortcut icon' href='./favicon.ico' type='image/x-icon'/>
    <meta name='theme-color' content='#ffffff'/>
    <meta property='og:image' content='./images/logo.png'/>

    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">

    <meta name='keywords' content='{{ keywords }}'/>
    <meta name='description' content='{{ description }}'/>

    <meta property='og:type' content='website'/>
    <meta property='og:site_name' content=''/>
    <meta property='og:title' content='{{ title }}'/>
    <meta property='og:description' content='{{ description }}'/>
    <meta property='og:url' content=''/>
    <meta property='og:locale' content='en_US'/>

    <link rel="stylesheet" href="./libs/glightbox.min.css" />
    <link rel="stylesheet" href="./libs/aos.css" />

    <title>{{ title }}</title>
</head>


<body>
    <div class="main-background"></div>

    {{> ../float-button/float-button}}
    {{> @partial-block }}
    {{> ../footer/footer}}

</body>

</html>
